@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap');

body {
    height: 100vh;
    width: 100vw;
    padding: 0;
    margin: 0;
}

.content {
    display: grid;
    grid-template: repeat(10, 1fr) / 1fr;
    width: 100%;
    height: 100%;
    margin: 0;
}

.content-body {
    grid-row-start: 4;
    grid-row-end: 11;
    margin: 0;
    height: 100%;
    width: 100%;
    overflow: scroll;

    scrollbar-width: none;
    -ms-overflow-style: none;
}

.content-body.home {
    background-image: url(./imgs/cdoncel-Uh-Sv6YSzns-unsplash.jpg);
    background-position: center;
    background-size: cover;
}

.content-body.menu {
    background-image: url(./imgs/yiqun-tang-3o7O_6fi7Qc-unsplash.jpg);
    background-position: center;
    background-size: cover;
}

.content-body::-webkit-scrollbar {
    display: none;
}

.card-0, .card-2 {
    display: block;
    height: 500px;
    width: 700px;
    margin: 20px auto;
    position: relative;
    right: 180px;
    box-shadow: 20px 10px 15px #000000af;
}

.card-1, .card-3 {
    display: block;
    height: 500px;
    width: 700px;
    margin: 10px auto;
    position: relative;
    left: 180px;
    box-shadow: 20px 10px 8px #000000af
}

/*Images
  for the cards on the main page
*/

.card-0 {
    background-image: url(./imgs/shawnanggg-nmpW_WwwVSc-unsplash.jpg);
    background-position: center;
    background-size: contain;
}

.card-1 {
    background-image: url(./imgs/patrick-tomasso-GXXYkSwndP4-unsplash.jpg);
    background-position: center;
    background-size: contain;
}

.card-2 {
    background-image: url(./imgs/sebastian-coman-photography-eBmyH7oO5wY-unsplash.jpg);
    background-position: center;
    background-size: cover;
}

.card-3 {
    background-image: url(./imgs/sven-mieke-7Khwr4mkhNQ-unsplash.jpg);
    background-position: center;
    background-size: cover;
}

/*fix header and navbar*/

.content-header {
    background-image: url(./imgs/erol-ahmed-IHL-Jbawvvo-unsplash.jpg);
    background-position: center;
    background-size: cover;

    box-shadow: 0px 10px 15px 5px black;
    height: 100%;
    z-index: 1;

    grid-row-start: 1;
    grid-row-end: 4;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    font-family: 'Poppins';
}


.logo-container {
    width: 500px;
    height: 80px;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;

    font-size: 4em;
    color: rgb(67, 207, 184);
}

.navbar {
    position: relative;
    top: 63px;;

    height: 40px;
    width: 100%;
    background-color: rgba(212, 230, 116, 0.719);

    display: flex;
    align-items: center;
    justify-content: left;
    gap: 20px;

    padding-left: 20px;
}

.tab {
    display: flex;
    align-items: top;
    justify-content: center;

    transition: all 200ms linear;

    height:30px;
    width: 60px;

    background-color: rgb(236, 227, 140);
    
    border-radius: 5px 0 5px 0;
    border: none;

    font-size: 20px;
}

.tab.current {
    background-color: rgb(41, 101, 170);

    height: 40px;
    width: 70px;
}

.logo {
    width: 150px;
}

.menu-container {
    height: 90%;
    width: 50%;

    margin: 0 auto;
    padding: 30px;

    display: grid;
    grid-template: repeat(5, 300px) / 1fr 1fr;
    gap: 10px;
}

.desc {
    background-color: rgba(41, 102, 172, 0.781);
    height: 100%;
    border-radius: 5px;;

    font-family: 'Bree Serif';
}

.desc > h2 {
    font-size: 40px;
    text-align: center;
    color: rgb(154, 221, 87);
}

.desc > ul {
    font-size: 30px;
    text-align: left;
    color:rgb(20, 16, 83);
    list-style-image: url(./imgs/food-svgrepo-com.svg);
    list-style-position: inside;
}

/*Menu images*/

.menu-img {
    width: 450px;
    height: 300px;

    object-fit: cover;
    object-position: center;
    -o-object-fit: cover;
    -o-object-position: center;
}

/*Info page*/

.info-container {
    width: 600px;
    height: 500px;

    background-color: rgba(41, 102, 172, 0.781);
    margin: auto auto;
    border-radius: 10px;
    padding: 40px;
}

.info-container > h1 {
    font-size: 40px;
    font-family: 'Poppins';
    color:rgb(20, 16, 83);
    text-align: center;
}

.info-container > p {
    font-size: 25px;
    font-family: 'Bree serif';
}

.credit {
    position: relative;
    left: 470px;
    
    font-size: 30px;
}

.credit > a {
    font-size: 30px;
    text-decoration: none;

    color:rgb(67, 207, 184);

    transition: all 150ms ease-in-out;
}

.credit > a:hover {
    color:rgb(154, 221, 87);
}